*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  background: #eee;
}

body {
  font-family: "Raleway", sans-serif;
  background: url(images/bg-mobile.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-origin: border-box;
}

.attribution{
  width: 70%;
  margin: auto;
  font-size: 15px;
  text-align: center;
  color:#dbd9ff;
}

a{
  list-style: none;
  text-transform: none;
  color: #dbd9ff;
}


#container {
  width: 326px;
  height: 413px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 127px auto;
}

#main-card {
  width: 326px;
  height: 201px;
  background: #1e2d69;
  box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
  border-radius: 10px 100px 10px 10px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

#logo-fylo {
  height: 40px;
  width: 135.41539001464844px;
  /* margin-left: 41.13px;
margin-top: 40px;
margin-bottom: 33px; */

  margin: 40px auto 33px 41.13px;
}

#icon-boxes {
  display: flex;
  margin-left: 41.13px;
}

.square-boxes {
  width: 48.15px;
  height: 48px;
  background: #0c122c;
  border-radius: 10px;
  margin-right: 16.01px;
}

#icon-document {
  margin: 12px 14.82px 12.02px;
}
#icon-folder {
  margin: 14px 12.04px 14.8px 12.04px;
}
#icon-upload {
  margin: 16px 12.04px 16px 12.04px;
}

.square-boxes:hover {
  background: #9a0680;
}

#second-card {
  height: 160px;
  width: 326px;
  background: #1e2d69;
  box-shadow: 0px 75px 100px -30px rgba(53, 46, 46, 0.248);
  border-radius: 10px;
  position: relative;
}

#p-second-card {
  height: 16px;
  width: 229px;
  font-size: 14px;
  line-height: 16px;
  color: #dbd9ff;
  margin: 32px 49px auto 48px;
}

#span-gb {
  font-weight: bold;
}

#box-gb-left {
  width: 179px;
  height: 72px;
  background: #ffffff;
  box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 74px;
  top: 124px;
}

#text-box-gb-left {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #0c122c;
  margin-right: 9px;
}

#text-box-gb-right {
  width: 55px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;

  color: #0c122c;

  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 31px 24px 27px 0;
}

#middle-bar-box {
  height: 44px;
  width: 262px;
  margin: 16px auto;
}

#dark-bar {
  height: 20px;
  width: 262px;

  background: #0c122c;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 10px;
  position: relative;
  z-index: 0;
}

#linear-bar {
  height: 14px;
  width: 193px;
  background: linear-gradient(90deg, #ffa197 0%, #ff4a95 100%);
  border-radius: 8px;
  position: absolute;
  top: 67px;
  left: 35px;
  z-index: 1;
}

#linear-ball {
  height: 10px;
  width: 10px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 69px;
  left: 216px;
}

#gb-box {
  height: 14px;
  width: 262px;
  margin: 10px auto;
  display: flex;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #dbd9ff;
}

#left-gb {
  margin-right: 186px;
}

#triangle{
  opacity: 0;
}


@media screen and (min-width: 1440px) {
  
  body{
    background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position-y: 390px;
    background-position-x: -80px;
    background-color: #0c122c;
  }  

#container{
  flex-direction: row;
  width: 910px;
  justify-content: center;
  align-content: center;
}

#main-card{
  width: 350px;
height: 201px;
margin-right: 30px;
margin-bottom: 0;
}

#second-card{
  width: 540px;
  height: 154px;
  transform: translateY(22px);
}

#box-gb-left{
  left: 321px;
  top: -47px;
  border-bottom-right-radius: 0px;
}

#triangle{
  opacity: 1;
  display : inline-block;
  height : 0;
  width : 0;
  border-top : 23px solid #FFFFFF;
  border-left : 23px solid transparent; background: #;
  box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
  position: absolute;
  left: 477.34px ;
  top: 23px;

  
}

#middle-bar-box{
  width: 461px;
height: 42px;
left: 72px;
}

#dark-bar{
  height: 20px;
width: 459px;
}

#linear-bar{
  width: 339px;
  height: 14px;
  left: 43px ;

}

#linear-ball{
  left: 370px;
}



#gb-box{
  width: 461px;

}

#left-gb {
margin-right: 385px;
}
}